body{
    font-family: 'PT Sans', serif !important;
    background-image: url(../img/wine-background.png);
    background-position: left, right;
    background-attachment: fixed, fixed;

}

h1{
    color: #FFF;
}
.add-btn {
    background-color:#8E914E;
    color: #fff;
}
.add-btn:hover {
    background-color:#F2AB22;
}
#footer {
    background: #1c1c1c;
    color: #fff;
    height: 100px;
}

 #here {
     height:415px;
     width: 23%;
     margin-left:2%;
     margin-bottom:20px;
     background:#F2F2F2;
     font-size:14px;
 }
#here a {
    color: #000;
}
#here .button-group {
    margin: 20px 0px 20px;
}
.edit-btn{
    color: #fff !important;
    background:#851313;
}
.edit-btn:hover{
    background:#CC1E1E;
}
.delete-btn{
    background: #9D9D9D;
}
.delete-btn:hover{
    background:#000000;
}
